<h1>Download as PDF</h1>
<div class="col-md-8" id="content" #content>
  <table class="table table-bordered">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>

    </tr>
    <tr *ngFor="let item of data">
      <th>{{item.id}}</th>
      <th>{{item.name}}</th>
      <th>{{item.username}}</th>
      <th>{{item.email}}</th>
    </tr>

  </table>
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
  </div>
</div>
